{% extends "base.html" %} 
{% block content %}
  <main class="container main-content">
    <h2 class="old-timey-title">About the Book</h2>
    <p class="old-timey-text">Heart of Darkness is a novel by Joseph Conrad, published in 1899. The story follows Charles Marlow, a sailor who travels up the Congo River in search of Kurtz, an ivory trader who has become increasingly isolated and unhinged in his jungle outpost.</p>
  </main>

  <footer class="footer">
    <p>&copy; 2023 Camren Johnson</p>
  </footer>
{% endblock %}