{% extends "base.html" %} 
{% block content %}
  <main class="container main-content">
    <div class="diary-entries">
      <div class="letter-entry">
        <h2 class="old-timey-title">Welcome to my ISU</h2>
        <h3 class="old-timey-subtitle">123 Ave Ibuka</h3>
        <h3 class="old-timey-subtitle">Mbandaka, Équateur</h3>
        <h3 class="old-timey-subtitle">P1A 3C8</h3>
        <h3 class="old-timey-subtitle">May 22, 2023</h3>
        <p class="old-timey-text">Dear Reader,</p>
        <p class="old-timey-text">
      Today, I write to introduce you to an immersive and enlightening journey that awaits you within the pages of my Independent Study Unit (ISU) project. Through this project, I have embarked on an exploration of Joseph Conrad's timeless masterpiece, The Heart of Darkness, diving into its profound themes, complex characters, and the challenging realities it presents.</p>
        <p class="old-timey-text">
      Throughout history, Literature has been used to deliver stories that hold the power to transport the reader to distant lands, introduce them to diverse perspectives and ignite the imagination. Heart of Darkness is no exception. As you dive into the depths of this exciting tale, you will find yourself immersed in the mysterious world of Charles Marlow, the protagonist of the story.</p>
        <p class="old-timey-text">
      Through the creation of various genre projects, I strive to capture the essence of Marlow's journey and the broader themes that resonate throughout Conrad's novel. The projects included in this ISU encompass a range of creative pieces, offering a unique lens through which to explore the intricacies of the narrative.</p>
        <p class="old-timey-text">
      To bring you closer to Marlow's perspective, I have designed a travel brochure that invites you to traverse the landscapes encountered on his expedition along the Congo River. This vibrant brochure promises to showcase the awe-inspiring environments, the allure of the unknown, and the profound challenges faced by Marlow on his journey. In addition, a character profile poster will introduce you to Charles Marlow himself. This visual representation delves into his complexities, motivations, and the internal conflicts that shape his character. By capturing his essence in a single portrait, we can begin to unravel the layers that make Marlow such a captivating and puzzling figure.</p>
        <p class="old-timey-text">
      To offer a more personal glimpse into Marlow's mind, I have written diary entries that provide intimate insights into his thoughts, emotions, and reflections throughout the journey. These entries will provide a first-hand account of some of the key events that take place on the ship.</p>
        <p class="old-timey-text"></p>
      Lastly, I have chosen to write a diary entry from the perspective of one of the African natives, enabling us to witness the unfolding events through my attempt at their perspective. This alternative viewpoint invites us to confront the power dynamics, cultural conflicts, and the profound consequences of colonization. </p>
        <p class="old-timey-text">
      It is my sincerest hope that these projects, along with the comprehensive website that I have meticulously programed to display them, will provide you with an educational experience. Through my ISU, I aim to inspire your imagination, encourage critical thought and foster a deeper understanding of the powerful narrative that Joseph Conrad's Heart of Darkness presents.</p>
        <p class="old-timey-text">
      So, I invite you, dear reader, to join me on this journey of remarkable literary odyssey. May you find yourself captivated by the intricacies of the narrative, enlightened by the diverse perspective, and compelled to reflect upon the persistent themes that Joseph Conrad's work explores  </p>
          <h3 class="old-timey-subtitle">Sincerely,</h3>
          <h3 class="old-timey-subtitle">Cam Johnson</h3>
        </div>
      </div>
  </main>

  <footer class="footer">
    <p>&copy; 2023 Camren Johnson</p>
  </footer>
{% endblock %}