{% extends "base.html" %}
{% block content %}
  <main class="container main-content">
    <h2 class="old-timey-title">The Attack From the Perspective of the Natives</h2>
    <div class="diary-entries">
      <div class="diary-entry">
        <h3 class="old-timey-subtitle">The River</h3>
        <h3 class="old-timey-subtitle">Late Springtime</h3>
        <p class="old-timey-text">In the dense blanket of night fog, our ancestral land was violated by the intruders on that boat, the fog had concealed their presence, but we could hear the sound of their voices echoing through the air, disrupting the peace of our homeland. We felt we had no choice but to rise in defence, in order to preserve the sanctity of our land.

          As the fog lifted from the river, we started our attack. Our arrows seeking justice for the invasion of our ancestral soil. The boat, a symbol of their audacity, became our prey. The pale faces aboard scrambled to get under cover, their rifles crackling in panic. The smoke from their defence clouded the air, but we knew our brothers were hidden amongst the bushes on the riverbank, ready to prevent the invaders from continuing their journey into our land.
          
          Fuelled by an unwavering sense of duty, I held my spear high and charged forward, determined to reclaim, and protect what is rightfully ours. In that crucial moment, I saw the driver, a guardian of their vessel, standing defiantly. With one swift strike, my spear found its mark, dropping him to the ground. Evidence to our committed determination to protect our land.
          
          I do not believe us to be conquerors, we fight to protect, to preserve the integrity of our ancestral lands. We fight to protect our culture, not to destroy another. 
          
          A blaring scream came from the top of the boat, piercing the night. We believed this to be a desperate cry for retreat. The fear on their pale faces mirrored the unease that had been set into their hearts, understanding they have trespassed where they do not belong.
          
          As we faded into the darkness of the jungle, I couldn't help but to reflect on the recent events. It was an unrestrained encounter, born from a sacred duty to safeguard our homeland. The invaders, driven by their own desires, must have learned a valuable lesson that night. Our land will always be defended, for it is a fundamental part of our identity and our heritage.
          </p>
      </div>
  </main>
  <footer class="footer">
    <p>&copy; 2023 Camren Johnson</p>
  </footer>
{% endblock %}